@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,600;1,700&family=Roboto+Condensed:ital@1&family=Ubuntu:wght@500&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin : 0px;

}
:root{
   /* * --primmary-color: #AAEFDF;* */
  /** --primary-color: #ADEFD1FF;**/
  --primary-color : #89ABE3FF;
   --offwhite-color:#F3F4F6;
    --secondary-color : #00203FFF;
}

/**variable**/

.container{
    padding : 1.5rem;
    /* padding-right : 2rem; */

}
.container-center{
max-width:600px;
margin:auto;


}
/**Links**/
.link{
    padding : 0.5rem 1rem;
    text-decoration:none;
 
  
}
.primary-link{
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
 width: max-content;
    min-width: 140px; 
    /* margin: auto; */
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  
    /* position: relative; */
    /* font-size : 2rem; */
}
    

.secondary-link{
    color :var(--primary-color);
    border-radius:0.5rem;
    border: 1px solid var(--primary-color);


    text-decoration: none;

    width: max-content;
    min-width: 140px;
  
    padding: 0.5rem 1rem 0.5rem 1rem;
}

hr {
 margin: 2rem 0rem;
}
/**lists**/
.list-non-bullet{
    list-style:none;
}
.list-item-inline{
    display:inline;
    padding: 0rem, 0.5rem;
}

/**Navigation*/
.navigation {
    background-color : var(--primary-color);
  color : white;
  border-bottom-left-radius:1rem;
 
}
/**.navigation .link --> Means inside navigation class if there is link class then apply the below css logic **/
.navigation .link{
    color : white;
    text-decoration: none;
    /* font-size : 25px; */
    
}
.navigation .nav-pills{
    text-align: right;
    /* padding: 1rem 0rem; */
}

.navigation .nav-brand{
    font-weight:bold;
    
    /* font-size: 1.1rem; */
    /* padding: 1rem 0rem; */
    /* font-size : 25px; */
}

/** To make the selected active tab look highlighted**/ 
.navigation .link-active{
    font-weight: bold;
    color : var(--secondary-color);

}
.navigation li{
    display: inline-block;
   
    /* padding: 0rem 0.8rem; */
   }
/**header**/
.hero{
    padding:2rem;
    padding-top : 5rem;

}
.hero .hero-img{
    max-width:350px;
    display: block;
   margin: auto;
}
.hero .hero-heading{
    font-size: 2rem;
    padding-top: 1rem;
    text-align: center;
    
}

/**Section**/
.section{
    padding : 2rem 2rem;
}

.section h1{
    text-align: center;
    
 }
 
.ow{
    background-color :  var(--offwhite-color);
}



/**footer**/

.footer{
    background-color: var(--primary-color);
padding : 3rem 0rem ;
text-align : center;
color : white;
border-top-right-radius: 1rem;


}

.footer .link{
    color : white;

}
.footer ul{
padding-inline-start : 0px;
}

